<div class="container">
  <div class="row">
    <div class="col-md-10 offset-col-md-2 mx-auto">
    <h4 class="my-4 my-4 text-center"><span>  お店　編集画面　</span></h4>

　  <%= render 'layouts/errors', obj: @shop %>
    <%= render 'form', shop: @shop %>
  </div>
  </div>
  </div>