<%= render 'layouts/errors', obj: @shop %>

<div class="login">
  <div class="login-triangle"></div>
  <!--このタイトル名だけ変えたかったのでテンプレにしなかった-->
  <h2 class="login-header"> お店　新規登録 </h2>
  <%= render 'form', shop: @shop %>
</div>