<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 offset-col-lg-4 mx-auto">

      <!--main部分-->
      <section id="main-logo"></section>

      <!--main-shop部分-->
      <section id="main-shop">
        <div class="main-shop-title">
          <h2>いますぐ注文しよう</h2>
    			<h4>葛飾にある<i><%= @shops.count %></i>軒のお店の商品をテイクアウトできます</h4>
        </div>




    			<div class="row">
    				<div class="col-md-4 col-sm-4 text-center animate-box">
    					<div class="work-grid" style="background-image: url(images/project-2.jpg);">
    						<div class="desc">
    							<h3><a href="#">Work Title Here</a></h3>
    							<span class="cat">Web Design</span>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-4 col-sm-4 text-center animate-box">
    					<div class="work-grid" style="background-image: url(images/project-3.jpg);">
    						<div class="desc">
    							<h3><a href="#">Work Title Here</a></h3>
    							<span class="cat">Web Design</span>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-4 col-sm-4 text-center animate-box">
    					<div class="work-grid" style="background-image: url(images/project-4.jpg);">
    						<div class="desc">
    							<h3><a href="#">Work Title Here</a></h3>
    							<span class="cat">Web Design</span>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-4 col-sm-4 text-center animate-box">
    					<div class="work-grid" style="background-image: url(images/project-5.jpg);">
    						<div class="desc">
    							<h3><a href="#">Work Title Here</a></h3>
    							<span class="cat">Web Design</span>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-4 col-sm-4 text-center animate-box">
    					<div class="work-grid" style="background-image: url(images/project-6.jpg);">
    						<div class="desc">
    							<h3><a href="#">Work Title Here</a></h3>
    							<span class="cat">Web Design</span>
    						</div>
    					</div>
    				</div>
    				<div class="col-md-4 col-sm-4 text-center animate-box">
    					<div class="work-grid" style="background-image: url(images/project-7.jpg);">
    						<div class="desc">
    							<h3><a href="#">aaaaaaaaa</a></h3>
    							<span class="cat">Web Design</span>
    						</div>
    					</div>
    			</div>
    	</div>
    	</section>


    </div>
  </div>
</div>
