<div class="container">
  <div class="row">
    <div class="mx-auto px-5">

      <h1>地域　編集画面</h1>
      <%= render 'layouts/errors', obj: @area %>
      <%= render 'form', area: @area %>
      


    </div>
  </div>
</div>
