<!--商品編集ページ-->
<%= render 'layouts/errors', obj: @item %>
<%= render 'form', item: @item %>
<div class="text-center">
  <%= link_to "商品を削除する", item_path(@item), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm" %>
</div>
