/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: white;
}

a {
  text-decoration: none;
//   リンク文字をホワイトにする
  color: white;
}

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: 'Crimson Text', serif;
  height: 100%;
  padding-bottom: 100px;
  // この書き方にしないと本番で表示されない。
  background: image-url('logo.jpg');
  background-position: center;
  background-color:rgba(255,255,255,0.7);
  background-blend-mode:lighten;
}

img {
    max-width: 100%;
    height: auto;
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  img {
    // 最大値50％　高さを自動にすることで、自動的に縮尺する
    max-width: 75%;
    height: auto;
  }
}

.flash-green {
  color: #00CC33
}
.flash-red {
  color: #FF3333
}

// テキストや写真の背景　使用箇所多いので注意
.background {
  background-color: #e6edea;
}

.header {
//  ヘッダーの色
  background: linear-gradient(180deg, #21ede3 0%, #06c45c 100%);
}

// footer
// フォントおーサムの位置調整
.fas {
  line-height: 2;
}

/*メニューをページ下部に固定*/
#sp-fixed-menu {
   position: fixed;
   width: 100%;
   bottom: 0px;
   font-size: 0;
   opacity: 0.9;
   z-index: 99;
}

// レスポンシブ時にはフッターの高さを調節する
@media screen and (max-width:768px) {
  #sp-fixed-menu {
    width: 100%;
    height: 80px;
  }
}

/*メニューを横並びにする*/
#sp-fixed-menu ul {
   display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
   width: 100%;
}

#sp-fixed-menu li {
   justify-content: center;
   align-items: center;
   width: 50%;
   padding: 0;
   margin: 0;
   font-size: 14px;
   border-right: 1px solid #fff;
   background: #38b435;
}

/*ボタンを調整*/
#sp-fixed-menu li a {
   color: #fff;
   text-align: center;
   display: block;
   width: 100%;
  // paddingあるとスマホサイズでおかしい
  // padding: 20px;
}

.text {
  font-size: 12px;
}
// 通知があったときにベルと合体させる
.n-circle {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  color: #efa04c;
}

.cart {
  position: relative;
}

.cartitem-count {
  position: absolute;
  height: 10px;
  font-size: 20px;
  color: #E87528;
}
// footerここまで



// 新規登録　ログイン　カスタマーshow edit   ショップnew edit  お問合せ　幅広い箇所で使用中 フォーム入力画面は基本全てこれ
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}
/* タブレット縦置きサイズ（768px）以下の際に適用される設定 */
@media screen and (max-width:768px) {
  .login {
    width: 100%;
  }
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.login-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="text"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #05a;
}
// ログインフォームのcss ここまで



// paginate
.pagination{
  margin: auto;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.pagination span{
  background-color: rgba(158, 158, 158, 0.4);
  text-align: center;
  width: 50px;
  border: solid 1px #344963;
  color: rgb(197, 20, 159);
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.pagination span:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pagination span a:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

div.field_with_errors {
  background-color: red;
  padding: 2px;
}