// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.area-title {
  padding-top: 50px;
  padding-bottom: 100px;
}

.area-index {

}

.area-box {
  width: 200px;
  float: left;
  padding-left: 10px;
}

.area-name {
  text-align: center;
}
// float: left;