// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-box {
  width: 250px;
  height: 250px;
  float: left;
  padding-left: 10px;
}

.item-box-name {
  text-align: center;
}


.item-menu {
  width: 100%;
  height: auto;

}
.item-menu-title {
  text-align: left;
  border-bottom: 1px dotted #fff;
}

