
// confirm画面
.order-title {
  text-align: left;
  border-bottom: 1px dotted #000000;
  // 子要素を絶対位置にするため
  position: relative;
}

.order-link {
  // 価格を絶対位置に指定
	position: absolute;
	bottom: 5px;
	right: 10px;
	color: black ;
}

.order-box {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #000000;
  display: flex;
}

.order-box-text {
  height: 100%;
  width: 50%;
}

.order-box-picture {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-buy {
  width: 100%;
  height: 300px;
}



// index画面
.order-index-box {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #000000;
  overflow: hidden;
  display: flex;
}

.status-ok {
  background-image: linear-gradient(
    to right top,
    transparent 75%,
    #555555 70%,
    #555555 100%,
    transparent 100%
  );
}

@media screen and (max-width:768px) {
  .status-ok {
    background-image: linear-gradient(
      to right top,
      transparent 70%,
      #555555 70%,
      #555555 100%,
      transparent 100%
    );
  }
}


.order-index-box-text {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width:768px) {
  .order-index-box-text {
    font-size: 16px;
  }
}


.order-index-box-picture {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}


// show画面
.order-show-title {
  width: 100%;
  height: 200px;
  border-bottom: 2px dotted #000000;
}


.order-show-box {
  width: 100%;
  height: 200px;
  // テキスト文字の背景は必ずこの色に統一すること
  border-bottom: 1px dotted #000000;
  display: flex;
}

.order-show-box-text {
  width: 49%;
  font-size: 18px;
}

.order-show-picture {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}

// order_comments部分
.comment-box {
  padding-bottom: 10px;
}

.comment-text {
  // margin: 20px;
  padding: 15px;
  border: 1px dotted #000000;
}

.comment-delete a {
  color: red;
}

.new-comment textarea {
  width: 100%;
  height: 70px;
}