// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.order-title {
  text-align: left;
  border-bottom: 1px dotted #000000;
  // 子要素を絶対位置にするため
  position: relative;
}

.order-link {
  // 価格を絶対位置に指定
	position: absolute;
	bottom: 5px;
	right: 10px;
}

.order-box {
  width: 100%;
  height: 200px;
  // background-color: blue;
  margin-bottom: 10px;
  border-bottom: 1px dotted #000000;
  position: relative;
}

.order-box-text {
  hight: 100%;
  // 280にしないと右側の写真と重なってしまう。
  width: 280px;
}

.order-box-picture {
  position: absolute;
  bottom: 10px;
	right: 10px;
}

.order-buy {
  width: 100%;
  height: 300px;
  background-color: #1e90ff;
}

// index view
.order-index-box {
  width: 100%;
  height: 200px;
  background-color: white;
  margin-bottom: 10px;
  border-bottom: 2px dotted #000000;
  overflow: hidden;
  display: flex;
}

.order-index-box-text {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width:768px) {
  .order-index-box-text {
    font-size: 10px;
  }
}


.order-index-box-picture {
  width: 49%;
}


// show.view
.order-show-title {
  width: 100%;
  height: 200px;
  background-color: white;
  border-bottom: 2px dotted #000000;
}


.order-show-box {
  width: 100%;
  height: 150px;
  background-color: white;
  border-bottom: 2px dotted #000000;
  display: flex;
}

.order-show-box-text {
  font-size: 18px;
  padding-right: 5px;
}