// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.payment-picture {
  float: left;
  padding-left: 10px;
}

.payment-picture-name {
  text-align: center;
}
// float: left;